{% extends 'base.html'%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
{% endblock%}

{% block content%}

<body>
    <section id="home" class="particles_area">
        <div class="welcome-slider-area">
            <div class="single-slide-item" data-stellar-background-ratio="0.3"
                style="background-image: url('../static/images/agri2.jpg'); background-position: center center; background-size: cover;">
                <div id="particles-js"></div>
                <div class="single-slide-item-table">
                    <div class="single-slide-item-tablecell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <br>
                                </div>
                                <div class="col-md-12 wow fadeInDown" data-animate="0.5s" data-wow-delay="1s">
                                    <div class="slide_content">

                                        <h1>Mazao</h1>
                                        <p>Bringing farmers together</p>

                                        <div class="single_slide_item_button">
                                            <a href="" class="btn slider_btn active_btn">Get
                                                Started</a>
                                            <a href="" class="btn slider_btn">Join Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}
