

<div id="header_area" class="navbar navbar-default bg-transparent navbar-fixed-top menu-top">
  <div class="container">
    <div class="header_logo">
      <a href="" class="navbar-brand">
        <img src="../static/images/logo11.png" alt="header logo">
      </a>
    </div>
    <div class="mobile-nav"></div>
    <div class="navbar-collapse collapse">
      <nav>
        <div class="main_menu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="" class="">Home</a></li>
            <li><a href="" class="">About</a></li>
            <li><a href="" class="">Service</a>
            </li>
            <li><a href="" class="">Contact</a>
            </li>
            <li class="text-lime"><a href="" class="text-lime">Login</a></li>
            <li class="text-lime"><a href="" class="text-lime">Register</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>